<footer>
    <ul class="footer_list">
        <li><a class="lien_footer" href="">Mentions légales</a></li>
        <li><a class="lien_footer" href="">Nous contacter</a></li>
        <li><a class="lien_footer" href="">A propos</a></li>
    </ul>
</footer>

</body>