<%- include('partials/head') %>

    <main class="main_error">
        <section id="not-found">
            <h1>Erreur <%= error.status %>
            </h1>

            <a href="/" class="button">Retour à l'accueil</a>
        </section>
    </main>


    <%- include('partials/footer') %>